*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}
/* Utility */
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.flex-start{
    justify-content: flex-start;
}
.flex-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}
.width60{
    width: 60%;
}
.width40{
    width: 40%;
}
.width30{
    width: 30%;
}
.width55{
    width: 55%;
}
.block{
    display: block;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.margin-bottom{
    margin-bottom: 8%
}
.margin-top22{
    margin-top: 22px;
}
.margin-top13{
    margin-top: 13px;
}
.margin-top7{
    margin-top: 7px;
}
.lightgrey{
    color: #8C8D8E;
}
.margin-auto{
    margin: 0 auto;
}
header{
    background-color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    max-height: max-content;
}
header div a{
    margin: 0 13px;
    text-decoration: none;
    color: #3D3D3D;
}
#sezione1{
    background-color: #B4D0E7;
}
#sezione1 > div{
    width: 65%;
    margin: 0 auto;
    padding-top: 5%;
}
h1{
    font-size: 58px;
    margin-bottom: 3%;
}
#container1 > div button, #container1 > div span{
    margin-top: 6%
}
#freccia{
    font-size: 30px;
}

#sezione2{
    width: 55%;
    margin: 0 auto;
    margin-top: 8%;
}
#sezione2 input{
    margin: 5% 0;
    margin-right: 3px;
}
#radio1{
    margin-right: 1%;
}
.card div:first-child{
    border: 1px solid #DCDCDE;
    padding: 3%;
    text-align: center;
}
.card div:last-child{
    border-bottom: 1px solid #DCDCDE;
    border-left: 1px solid #DCDCDE;
    border-right: 1px solid #DCDCDE;
    padding: 10%;
    height: 666.5px;
}
.check::before{
    content: '\2713';
    color: #0061FF;
}
#sezione2 section:last-child > div:first-child{
    margin-top: 5%;
    border: 1px solid #DCDCDE;
    text-align: center;
    padding: 1%;
}
#sezione2 section:last-child > div:last-child{
    border-bottom: 1px solid #DCDCDE;
    border-left: 1px solid #DCDCDE;
    border-right: 1px solid #DCDCDE;
    padding: 2%;
}